html {
  height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}

.typeOfQuestion {
  position: relative;
  width: 844px; height: 100%; padding-left: 40px; padding-right: 40px; padding-top: 30px; padding-bottom: 30px; background: #E9ECEE; border-radius: 15px; border: 2px #DDDDDD solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex
}

.file {
  align-self: stretch; height: 171px; padding-left: 70px; padding-right: 70px; padding-top: 30px; padding-bottom: 30px; border-radius: 15px; border: 1px #A9A9A9 solid; flex-direction: column; justify-content: center; align-items: center; gap: 20px; display: flex
}

.text {
  width: 844px; padding: 10px; border-bottom: 1px #A9A9A9 solid; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex
}

.one {
  width: 100%; height: 100%; padding-top: 16px; padding-bottom: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex
}

.variantInOne {
  align-self: stretch; padding: 10px; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex
}

.multiply {
  width: 100%; height: 100%; padding-top: 16px; padding-bottom: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex
}

.variantInMultiply {
  align-self: stretch; padding: 10px; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex
}

.addQuestion {
  cursor: pointer;
  width: 100%; display: inline-flex; align-items: center; justify-content: center; align-self: stretch;
}

.publish {
  width: 100%; display: inline-flex; align-items: center; justify-content: center; align-self: stretch; height: 100%;
}

.actionButton {
  cursor: pointer; height: 100%;
  padding-left: 53px; padding-right: 53px; padding-top: 24px; padding-bottom: 24px; background: #00B2FF; box-shadow: 0px 4px 4px rgba(72, 72, 72, 0.749); border-radius: 15px; border: 2px #00B2FF solid; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex
}

.menuBar {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}

.menu {
  width: 924px;
  height: 50px;
  background-color: #E9ECEE;
  border-radius: 15px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.variant {
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  cursor: pointer; /* Добавляем курсор при наведении для показа, что элемент кликабелен */
}

.success {
  width: 343px; padding: 10px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex
}

.calendar {
  align-self: stretch; padding: 10px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex
}

.month {
  align-self: stretch; padding-left: 81px; padding-right: 81px; justify-content: center; align-items: center; gap: 10px; display: inline-flex
}

.weekDays {
  align-self: stretch; padding-left: 81px; padding-right: 81px; justify-content: center; align-items: center; gap: 10px; display: inline-flex
}